.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  overflow: hidden;
  margin: 0;

  /* 🔥 Parallax fixed background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); /* регулюй прозорість */
  z-index: 1;
}


/* фонова картинка */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: transform 0.1s linear; /* плавність */
}

.hero-content.container {
  max-width: 650px;
}
/* контент */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: #ffffff;
  padding: 2rem 1rem;
  /* font-size: clamp(1rem, 2vw, 1.5rem); автоматичне зменшення тексту */
  text-align: left; /* дублюємо для надійності */
  margin-left: 5%; /* трохи відступу від краю */
}
.hero-title {
  /* font-size: clamp(2rem, 5vw, 3rem); */
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0; /* приберемо верхній margin */
}
.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}


/* анімації */
.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.visible h1 {
  animation: slideUp 2.5s ease forwards;
}

.fade-in.visible p {
  animation: slideUp 3s ease forwards;
}

.fade-in.visible a {
  animation: slideUp 3.5s ease forwards;
}

/* кнопка в Hero */
.btn-hero {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #244992;
  background: #ffffff;
  transition: transform 0.15s ease, box-shadow 0.15s ease, color 0.3s ease;
  box-shadow: 1px 5px 11px -3px rgba(0, 0, 0, 0.19);
  position: relative;
  cursor: pointer;
}

.btn-hero:hover {
  transform: scale(1.05); /* легкий підйом */
  color: #1367ca;
}

.btn-hero:active {
  transform: scale(0.95); /* присідання */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}




/* ключові кадри */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* адаптив для мобільних: знову центруємо */
@media (max-width: 768px) {
  .hero-section {
    justify-content: center;
    text-align: center;
  }
  .hero-content {
    margin-left: 0;
    text-align: center;
  }
}