/* Секція */
#contact {
  padding: 4rem 1rem;
  background-color: white;
  text-align: center;
}

/* Заголовки */
.contact-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #244992;
}

.contact-subtitle {
  font-size: 1.1rem;
  color: #244992;
  margin-bottom: 2rem;
}

/* Форма */
#contact form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* Рядки */
.form-row {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

/* Поля */
input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.9rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
  width: 100%;
}

input,
textarea {
  width: calc(100% - 2rem);   /* відняти простір */
  margin: 0 auto;             /* вирівняти по центру */
}


input:focus,
textarea:focus {
  border-color: #244992;
  box-shadow: 0 0 6px rgba(81, 0, 211, 0.3);
}

/* Кнопка */
.btn-form {
  min-width: fit-content;
  align-self: center;
  background: #244992;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-form:hover {
  background: #1367ca;
  transform: translateY(-2px);
}

.btn-form:disabled {
  background: #bbb;
  cursor: not-allowed;
}
