footer {
  background-image: url(../../assets/images/footer.png);
  background-size: 100% auto;
  color: #eee;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.footer-columns {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1 1 200px; /* flessibile con larghezza minima */
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.footer-column p {
  margin: 0.25rem 0;
  line-height: 1.5;
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
